@import "../node_modules/bootstrap/scss/bootstrap";
:root {
    --mojito-breeze: #faf5ff;
}

html {
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    font-family: "Poppins", Roboto, Helvetica, Arial, sans-serif !important;
    background-image: url("./assets/Background.svg");
    background-attachment: fixed;
    background-size: cover;
}

[data-bs-theme="light"] {
    --bs-body-bg: var(--mojito-breeze);
}

.text-light-subtle {
    color: var(--bs-heading-color) !important;
}

.myContainer {
    padding-left: calc(calc(100vw - 1100px) / 2) !important;
    padding-right: calc(calc(100vw - 1100px) / 2) !important;
}

.navLink {
    text-decoration: none;
    color: var(--bs-heading-color) !important;
}

.hover-shadow {
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: 0 0 10px 0.1px var(--bs-highlight-color);
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
.fade-out {
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
